<p>Ajouter un nouveau poney</p>

<form (ngSubmit)="onSubmit()" class="form">

    <label for="">Nom</label>
    <br/>
    <input type="text" id="name" name="name" [(ngModel)]="newPony.name">

    <label for="">Couleur</label>
    <br/>
    <input type="text" id="color" name="color" [(ngModel)]="newPony.color">
    
    <label for="">Age</label>
    <br/>
    <input type="text" id="age" name="age" [(ngModel)]="newPony.age">

    <button *ngIf="add" type="submit">Enregistrer</button>
    <button *ngIf="!add" type="submit">Mettre à jour</button>

</form>
